[submodule "Source/IMGUI"]
	path = Source/IMGUI
	url = https://github.com/fireapache/imgui.git
[submodule "Source/GLFW"]
	path = Source/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Source/OBJ-Loader"]
	path = Source/OBJ-Loader
	url = https://github.com/fireapache/OBJ-Loader.git
[submodule "Source/IMGUI-NE"]
	path = Source/IMGUI-NE
	url = https://github.com/fireapache/imgui-node-editor.git
[submodule "Source/BVH"]
	path = Source/BVH
	url = git@github.com:fireapache/bvh.git
